RicardoWEB01/App_Data
RicardoWEB01/RicardoWeb01/App_Data
/.vs
RicardoWeb01/bin
RicardoWeb01/packages
RicardoWeb01/obj
RicardoWeb01/Properties
WebApplication1/obj/*
/WebApplication1/obj
*./obj.vs
WebApplication1
/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.1
